.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #e2a6c6 0%, #bde6bd 0%, #b3e4b3 0%, #e0bd76 30%, #d6e6a2 64%, #6bbdbe 100%);
}

.form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 50%;
  border: none;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  margin: 0px 5px;
  border: 1.7px solid #a7e2de;
}

.button {
  background-image: linear-gradient(to right, #c7faf7 30%, #d6e6a2 64%, #6bbdbe 100%);
  border: none;
  padding: 10px;
  color: rgb(13, 14, 14);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(226, 188, 117);
  color: black;
}

.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}